{% extends 'blog/wrapper.html' %}
{% load staticfiles %}
{% block content %}

<!-- card header banner section -->
<section id="aa-catg-head-banner">
    <video autoplay loop muted="background"  controls="true" class="background-video">
        <source src="http://127.0.0.1:8000/media/video_convert-video-online.com.mp4"></source>
    </video>
    <div class="aa-catg-head-banner-area">
        <div class="container" style="background-color: rgba(255,255,255,0.66);border-bottom-right-radius:15px;border-bottom-left-radius: 15px ">
            <h2>Аккаунт</h2>
            <ul class="nav nav-tabs aa-products-tab">
                <li><a href="{% url 'index' %}" style="z-index: 100">Главная</a></li>
                <li class="active"><a href="{% url 'login' %}" style="z-index: 110;cursor: pointer">Войти</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- / card header banner section -->

    <!-- Cart view section -->
    <section id="aa-myaccount">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-myaccount-area" style="margin-top:30px ">
                        <div class="aa-myaccount-register" style="border: none; padding: 30px;border-radius: 15px; background-color: rgba(255,255,255,0.66)">
                            <h2 class="title">Создать аккаунт</h2>
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% include 'registration/form-template.html' %}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success"> Создать </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Cart view section -->


{% endblock %}